// Add your custom CSS here.
#cart-quickview .minicart__btn-checkout.btn.btn-block.btn-primary, .cart .cart__info .cart__btn-checkout {
  display: none;
}
.product-card__prices, .product__prices {
  & .prices__value,
  & .prices__installments,
  & .prices__discount small {
  display: none;
  }
  & .prices__discount span {
    color: #a5003c;
  }
}
.product__prices .prices__discount span {
  font-size: var(--h1);
}
.product-card__prices .prices__discount span {
  font-size: var(--font-size-lg);
  font-weight: bold;
}
.payment-option__discount.badge.badge-success {
  display: none;
}
.minicart__subtotal, .cart__total {
  & .prices__discount span {
    font-size: var(--font-size-lg);
    color: #a5003c;
  }
}
