// Add your custom CSS here.
#cart-quickview .minicart__btn-checkout.btn.btn-block.btn-primary, .cart .cart__info .cart__btn-checkout {
  display: none;
}
@media(max-width: 500px) {
.checkout__step--current::after {
  content: '\A aba ativa';
  white-space: pre;
}
.checkout__step--past::after {
  content: '\A editar frete';
  white-space: pre;
}
.checkout__col:first-child > .d-none {
  display: block !important;
}
.product-card, .products-carousel__item {
  padding: 0;
}
}
