// Add your custom CSS here.
body * {
  font-family: Poppins;
}
#cart-quickview .minicart__btn-checkout.btn.btn-block.btn-primary, .cart .cart__info .cart__btn-checkout {
  display: none;
}
@media(max-width: 500px) {
.checkout__step--current::after {
  content: '\A aba ativa';
  white-space: pre;
}
.checkout__step--past::after {
  content: '\A editar frete';
  white-space: pre;
}
.checkout__col:first-child > .d-none {
  display: block !important;
}
.product-card, .products-carousel__item {
  padding: 0;
}
.search-engine__retail .row .col-6.col-md-4.col-lg-3, .search-engine__results .container {
  padding-left: .2rem;
  padding-right: .2rem;
}
}
.cart .recommended-items {
display: none
}

.info-additional li {
  i {
    margin-right: 14px;
    float: left;
    height: 30px;
  }
  list-style: none;
  border-bottom: 1px solid #fff;
  padding: 12px 14px;
}
.info-additional ul {
  background-color: #F5F5F5;
  border: var(--border-width) solid var(--border-color);
  padding: 0px;
}
.checkout__col .payment .list-group {
  display: flex;
}
.payment__gateway--1251[data-label="Pagar com Pix "] {
  order: -1;
  border-top: 1px solid
}
.discount-applier.checkout__discount {
  display: none !important;
}
.cart-item__out-of-stock {
  padding: 10px;
    background: red;
    color: #fff;
}
@media(max-width: 575.98px) {
  .info-bar__nav {
    flex-wrap: wrap;
    justify-content: space-around
  }
  .info-bar__nav .col-auto {
    max-width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
  .info-bar__title {
    font-size: 13px !important;
  }
}
.info-bar__title {
  font-family: Poppins !important;
  font-size: 14px;
  font-weight: 600 !important;
  font-style: normal !important;
  color: #000000;
}
.info-bar__text {
  font-size: 12px;
  font-family: Poppins !important;
  text-transform: none;
}
.banners-grid .banner:hover {
  transform: scale(1.03);
  transition: all 0.8s ease;
}
.shipping-calculator__option {
  color: #212529 !important;
}
