// Add your custom CSS here.
body * {
  font-family: Poppins;
}
#cart-quickview .minicart__btn-checkout.btn.btn-block.btn-primary, .cart .cart__info .cart__btn-checkout {
  display: none;
}
@media(max-width: 500px) {
.checkout__step--current::after {
  content: '\A aba ativa';
  white-space: pre;
}
.checkout__step--past::after {
  content: '\A editar frete';
  white-space: pre;
}
.checkout__col:first-child > .d-none {
  display: block !important;
}
.product-card, .products-carousel__item {
  padding: 0;
}
.search-engine__retail .row .col-6.col-md-4.col-lg-3, .search-engine__results .container {
  padding-left: .2rem;
  padding-right: .2rem;
}
}
.cart .recommended-items {
display: none
}

.info-additional li {
  i {
    margin-right: 14px;
    float: left;
    height: 30px;
  }
  list-style: none;
  border-bottom: 1px solid #fff;
  padding: 12px 14px;
}
.info-additional ul {
  background-color: #F5F5F5;
  border: var(--border-width) solid var(--border-color);
  padding: 0px;
}
.checkout__col .payment .list-group {
  display: flex;
}
.payment__gateway--1251[data-label="Pagar com Pix "] {
  order: -1;
  border-top: 1px solid
}
.discount-applier.checkout__discount {
  display: none !important;
}
.cart-item__out-of-stock {
  padding: 10px;
    background: red;
    color: #fff;
}
@media(max-width: 575.98px) {
  .info-bar__nav {
    flex-wrap: wrap;
    justify-content: space-around
  }
  .info-bar__nav .col-auto {
    max-width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
  .info-bar__title {
    font-size: 13px !important;
  }
  #search-bar {
    margin-top: -7px;
    padding-bottom: 5px;
  }
}
.info-bar__title {
  font-family: Poppins !important;
  font-size: 14px;
  font-weight: 600 !important;
  font-style: normal !important;
  color: #000000;
}
.info-bar__text {
  font-size: 12px;
  font-family: Poppins !important;
  text-transform: none;
}
.banners-grid .banner:hover {
  transform: scale(1.03);
  transition: all 0.8s ease;
}
.shipping-calculator__option {
  color: #212529 !important;
}
.header, #search-input {
  background-color: #a5013c !important;
}
#search-input {
  &::placeholder {
    color: #c9678a !important;
  }
}

.top-bar__nav {
  display: none !important;
}
.header__category {
  color: #fff !important;
  text-transform: uppercase !important;
  * {
    font-size: 14px !important;
    font-weight: bold;
  }
  &:hover {
    opacity: .8;
  }
}
.header__nav--full::before {
  background: #B3295C !important;
  height: 1px !important;
  margin-top: -10px !important;
}
.header__search {
  border-radius: 50px !important;
  border: 1px solid #B3295C !important;
  i {
    color: #fff !important
  }
}
#user-button, #cart-button {
  i {
    color: #fff !important
  }
}
#header {
  border-bottom: none;
  padding-bottom: 0;
}
.header__submenu {
  margin-top: 0;
  min-width: 400px;
}
.header__nav--full {
  padding-top: 20px !important;
}
#page-home {
  .banners-grid + .custom-html {
    background: #F9F2F5;
  }
}
.banners-grid .row {
  &::-webkit-scrollbar {
    display: none;
  }
}


/* Hide scrollbar for IE, Edge and Firefox */
.banners-grid .row {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media (min-width: 767px) {
  .info-bar__title {
    font-size: 14px !important;
  }
  .info-bar__text {
    font-size: 12px !important;
  }
}
.products-carousel__title * {
  font-weight: bold !important;
}

.products-carousel__title::before {
  background: #ccc;
  content: " " !important;
  height: var(--border-width) !important;
  left: 10%;
  margin-top: -.05rem;
  position: absolute;
  top: 50%;
  width: 80%;
}
#c-623a64ba2e405e04fff38e2b + .menu__item {
  display: block !important;
}
.minicart__btn-cart {
  background-color: #a5003c;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #a5003c
  }
}
@media (min-width: 992px) {
  .product-card__picture img {
    max-height: 300px;
  }
  .product-item {
    transform: scale(1.1);
  }
}
/* @media(max-width: 578.59px) {
  .glide__slides.products-carousel__list {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap
  }
  .glide__slide.products-carousel__item {
    max-width: 66.6% !important;
    flex: 0 0 66.66% !important;
  }
  .glide__arrows.glide__arrows--outer {
    display: none;
  }
  .glide__slides.products-carousel__list {
    -ms-overflow-style: none;
    scrollbar-width: none;  
  .glide__slides.products-carousel__list {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .picture.product-card__picture img {
    transform: scale(1.2);
  }
} */
.product__prices, .product .variations, #product-actions > div .mb-3:not(.product__payment), .product #product-actions > div article {
  padding: 0 !important;
  border-bottom: none !important;
}

.page--products .product__prices {
  .prices__installments::before {
    background-image: url(/img/uploads/credit-card.png);
    content: "";
    display: inline-block;
    height: 13px;
    margin-right: .3rem;
    vertical-align: middle;
    width: 16px;
  }
  .prices__discount::before {
    background-image: url(/img/uploads/qr-code.png);
    content: "";
    display: inline-block;
    height: 13px;
    margin-right: .3rem;
    vertical-align: middle;
    width: 16px;
  }
}
#product-actions .prices__discount span {
  font-size: 1rem !important;
}